body {
  font-family: "Montserrat";
  text-align: center;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #fff;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}
.white-section p{
  color: black;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  color: beige;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 250px;
  height: 250px;
  transform: rotate(5deg);
  position: absolute;
  right: 5%;
  top: 20%;
  z-index: 22;
  border-radius: 15%;
}
.title-image1 {
  width: 350px;
  height: 280px;
  transform: rotate(25deg);
  position: absolute;
  left: 65%;
  z-index: 3;
  border-radius: 15%;
}
.title-image2 {
  width: 250px;
  height: 400px;
  transform: rotate(-200deg);
  position: absolute;
  right: 30%;
  z-index: 2;
  top: 3%;
  border-radius: 15%;
}

/* FOOD IMAGE */


.food-image {
  width: 450px;
  height: 250px;
  transform: rotate(270deg);
  position: absolute;
  top:  -20px;
  left: -110px;
  /* border-radius: 15%; */
}
.food-image1 {
  width: 350px;
  height: 240px;
  transform: rotate(25deg);
  position: absolute;
  z-index: 0;
  top: -45px;
  left: 1100px;
  border-radius: 15%;
}
.food-image2 {
  width: 250px;
  height: 200px;
  transform: rotate(-200deg);
  position: absolute;
  z-index: 0;
  top: 2px;
  right: 50px;
  border-radius: 15%;
}


/* FOOD CARDS */

.card h4{
  color: #485563;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.card h3{
  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 50%, #505acb 100%);

}
.card button{
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card a{
  color: beige;
}
.card p {
  color: #41aea9;
}
/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ff4c68;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ff4c68;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}





/* LOGIN & REGISTER PAGE */

.foodcolored-section {
  background-color: #ff4c68;
  color: #fff;
  height: 100px;
}

.foodcontainer-fluid {
  padding-top: 1%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0px;
}

.LOGIN, .REGISTER{
  /* background: rgb(164,143,241);
background: radial-gradient(circle, rgba(164,143,241,1) 0%, rgba(213,40,194,1) 35%, rgba(240,155,27,1) 70%, rgba(58,238,221,1) 100%); */
background: rgb(244,194,93);
background: linear-gradient(0deg, rgba(244,194,93,1) 1%, rgba(195,34,151,1) 11%, rgba(13,223,235,1) 99%);
  height: 700px;

  text-align: center;
  padding-top: 5px;

}
.logcard{
  background-color: beige;
}
.logcard a{
  color: black;
}



/* ORDERING FOOD PAGE */

.foodpage{
  overflow-x: hidden;
}
.menutable{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.menulist{
  display: flex;
  flex-direction: row;
}
